html,
body {
    background-color: white;
  }

.navbar-brand >img {
  float:left;
  height:50px;
  width:50px;
}

.Intro-text{
  background-color: rgb(228, 228, 228);
  block-size: 275px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Intro-text1{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Intro-text h1{
  margin-bottom: 20px;
}

.row-proj{
  text-align:center;
  margin-block: 50px;;
}
.card{
  display: inline-block;
  background-color: rgb(235, 235, 235);
  text-align: center;
  margin: 75px;;

}

.card > img{
  margin-top: 1.5em;
  width: 75%;
}

footer{
  background-color: rgb(39, 36, 36);
}

.footer-row-all {
  display: flex;
  justify-content: flex-end;
}

.footer-block{
  margin-top: 20px;
  margin-bottom: 20px;
}
.footer-block > ul >h4{
  margin-bottom: 20px;
}
.footer-block > ul >li > a {
  Color: white;
}

.footer-block >ul>li>img {
  width : 8%;
}

.footer-block > ul >li {
  margin-block: 10px;
}


