html,
nav ul {
    color: navy;
    position: fixed;
    text-align: center;
    width: 100%;
    font-size: 1.5em; 
  }
  nav ul li {
    display: inline-block;
    margin: 50px;
  }
  
  nav ul li a {
    color: #000;
    text-decoration: none;  
  }
  nav ul li a:hover {
    color: #ababab;
  }  
#welcome {
    color: navy;
    text-align: center;
  }
  
body {
    background-color: lightblue;
  }